@tailwind base;
@tailwind components;
@tailwind utilities;

/* You typically define custom properties in the :root selector (or any parent element) to make them accessible throughout your stylesheet. */
:root {
  --background: #f8f9fa; /* Lightened background */
  --foreground: #333333; /* Darkened foreground for contrast */
  /*  --background-image: url("/background_forest.jpg"); */ /* defined this variable in your CSS like so: syntax retrieves the value of the custom property --background*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212; /* Dark mode background */
    --foreground: #e0e0e0; /* Lightened foreground for dark mode */
    --background-image: url("/background-forest2.png"); /* Dark mode background image */
  }
}
/* -- prefix:  variables that allow you to store values that you can reuse throughout your stylesheet.  */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100vh means the height of the entire visible area of the browser window. It is responsive */
  margin: 0; /* removes any default margin that browsers apply to the body element */
  padding: 0px;
  color: var(--foreground); /* this would be --foreground: #333333; */
  background: var(
    --background
  ); /* syntax retrieves the value of the custom property --background */
  background-size: cover; /* Ensure the background image covers the entire body */
  background-image: var(--background-image);
  /*   font-family: "Helvetica Neue", Arial, sans-serif; */
  font-family: Arial, sans-serif;
  line-height: 1.5rem;
}

.footerBackground {
  position: sticky;
  padding: 1rem;
  /* background-image: var(--background-image); */
  /*  background-color: #1c3d5a; */
  background-color: black;
  z-index: 10;
  color: #f5f5f5;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.footerBackground::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1; /* Place it behind the footer content */
  pointer-events: none;
}
h1 {
  display: flex;
  color: #1c3d5a;
  font-size: 1.75rem;
  font-weight: bold;
}
h2 {
  font-size: 1.75rem; /* Slightly larger for academic headers */
  font-weight: bold;
  color: #1c3d5a;
  line-height: 1.3;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
p,
ul {
  font-size: 1rem; /* Comfortable font size for body text */
  color: black;
  line-height: 1.8; /* Increase line height for readability */
  margin-bottom: 2rem; /* Consistent spacing for paragraphs */
}
.list-custom {
  list-style-type: square; /* Changes bullet points to squares */
}
.list-custom li::marker {
  color: #2e4d2e; /* Forest green color for bullets */
}
.emphasis {
  color: #2e4d2e;
  font-weight: bold;
}
.marker-square {
  position: relative;
  padding-left: 20px; /* Adjust padding to accommodate the square */
}
.marker-square::before {
  content: ""; /* Adds a square marker before the text */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px; /* Size of the square */
  height: 8px;
  background-color: #2e4d2e; /* Green color for the square */
  display: inline-block;
  border-radius: 2px; /* Optional: Slight rounding for a softer look */
}
.centered-container {
  width: 100%; /* Take full width of the main container */
  display: flex;
  justify-content: center; /* Center-align child elements */
  top: 100px;
}
.centered-heading {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the heading and line */
  text-align: center;

  margin: 0 auto;
  color: #1c3d5a;
  font-size: 1.75rem;
  font-weight: bold;
  /*  border-bottom: 1px solid #1c3d5a; */
  padding-bottom: 0.5rem;
}
.centered-heading::after {
  content: "";
  display: block;
  width: 75%; /* Width of the line */
  height: 2px; /* Thickness of the line */
  background: rgba(28, 61, 90, 0.8); /* Color of the line */
  margin: 0.5rem auto 0; /* Center the line and add space */
}

.mainContent {
  position: -webkit-sticky; /* Safari fix */
  position: sticky;
  /* background: rgba(250, 250, 250, 0.9); */
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: top 0.3s ease-in-out;
  flex-grow: 1;
  padding-top: 5rem;
  z-index: 5;
}

.hero-section {
  background-image: url("/background-forest2.png");
  background-size: 100%; /* Show the entire image */
  background-repeat: no-repeat; /* Prevent tiling */
  background-position: center; /* Center the image horizontally and vertically */
  background-attachment: fixed;
  /*  transform: scaleY(0.9); */
  z-index: 2;
  position: sticky;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  height: 350px;
  position: relative; /* .hero-section as a reference point for any absolutely positioned elements within it, like ::before. */
  margin-top: calc(100px + 1rem);
  overflow: hidden; /* Prevents content overflow */
}

.hero-section::before {
  content: ""; /* is required to make the ::before pseudo-element appear. Without defining content, pseudo-elements won’t render */
  position: absolute; /* its position is calculated relative to the .hero-section (thanks to the parent’s position: relative). */
  top: 0; /* the 0s here to span the full height and width of its parent element, the .hero-section */
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}
.re.NatureProjectContent {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.footerImages {
  display: flex; /* Use flexbox to arrange the images */
  justify-content: flex-end;
  align-items: center; /* Center images vertically */
  gap: 20px; /* Space between the images */
  height: auto;
  padding: 20px;
}

.footerImage {
  max-width: 250px;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  background-color: white;
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #556b2f; /*    #2e4d2e;  #01796f; #a7d7c5;  #8bc34a;  */ /* Example using Forest Green */
  /*   background: linear-gradient(to bottom, rgba(46, 77, 46, 1), rgba(46, 77, 46, 0.8));  a gradient could be interesting
 */
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0 30px;
  z-index: 10;
  width: 100%;
  line-height: 1.2rem;
  height: 116px; /* Set the height to 116px */
}

.nav-link {
  text-decoration: none;
  padding: 0px 2px 3px 6px;
  font-size: medium; /* Base size */
  font-weight: 500;
  border-radius: 4px;
  transition: color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

/* Add hover effect for links */
.navbar a:hover {
  text-decoration: wavy;
  transform: scale(1.05); /* Slightly enlarge on hover for effect */
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
}

.text-shadow-lg {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6); /* Subtle shadow for readability */
}

.shadow-inner-lg {
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.5); /* Inner shadow for depth */
}
/* projectOutline.css */

.project-outline-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.section-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1); /* Light gray line */
  margin: 2rem 0; /* Space around the line */
  width: 75%;
}
.project-description {
  font-size: 1.1rem;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.8;
}

.work-package {
  margin-bottom: 30px;
}

.work-package-title {
  font-size: 1.4rem;
  text-align: center;
  /* color: #1c3d5a; */
  color: #2e4d2e;
  margin-bottom: 15px;
  font-weight: 600;
}

.work-package-details {
  list-style-type: disc;
  padding-left: 20px;
}

.work-package-details li {
  margin-bottom: 8px;
  font-size: 1.1rem;
  line-height: 1.6;
}
/* Responsive Design */
@media (max-width: 768px) {
  .project-outline-container {
    padding: 15px;
    margin: 20px;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .project-description {
    font-size: 1rem;
  }

  .work-package-title {
    font-size: 1.2rem;
  }

  .work-package-details li {
    font-size: 1rem;
  }
}
.partner-link {
  color: #556b2f; /* Dark Olive Green */
  text-decoration: underline;
  font-weight: bold; /* Bold font weight */
  padding: 5px 10px; /* Padding for a better click area */
  transition: all 0.3s ease; /* Smooth transition */
}
.partner-link:hover {
  text-decoration: none;
}
.partner {
  margin-bottom: 30px;
}
.partner-description {
  font-size: 1.1rem;
  margin-bottom: 15px;
}
.partner-list {
  padding-left: 20px;
  list-style-type: disc;
}
.partner-list li {
  margin-bottom: 8px;
  font-size: 1.1rem;
}
@media (max-width: 768px) {
  .partnersContent {
    padding: 15px;
    margin: 20px;
  }
  .section-title {
    font-size: 1.5rem;
  }

  .partner-description {
    font-size: 1rem;
  }

  .partner-list li {
    font-size: 1rem;
  }
}
