.mainContent {
  position: -webkit-sticky; /* Safari fix */
  position: sticky;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  transition: top 0.3s ease-in-out;
  flex-grow: 1;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  z-index: 5;
  scroll-padding-top: calc(350px + 100px);
}
@media (max-width: 768px) {
  .heroSection {
    background-attachment: scroll;
    height: auto; /* Allow natural height scaling */
  }
  .mainContent {
    padding-left: 0rem; /* Reduced padding for mobile */
    padding-right: 0rem; /* Reduced padding for mobile */
  }
}
.heroSection {
  background-image: url("/background-forest2.png");
  background-size: cover; /* Show the entire image */
  background-repeat: no-repeat; /* Prevent tiling */
  background-position: center; /* Center the image horizontally and vertically */
  background-attachment: fixed;
  z-index: 2;
  position: sticky;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  height: 350px;
  position: relative; /* .hero-section as a reference point for any absolutely positioned elements within it, like ::before. */
  overflow: hidden; /* Prevents content overflow */
}

.heroSection::before {
  content: ""; /* is required to make the ::before pseudo-element appear. Without defining content, pseudo-elements won’t render */
  position: absolute; /* its position is calculated relative to the .hero-section (thanks to the parent’s position: relative). */
  top: 0; /* the 0s here to span the full height and width of its parent element, the .hero-section */
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}
