.NTUAPackageTitle {
  font-size: 1.2rem;
  text-align: center;
  /* color: #1c3d5a; */
  color: #2e4d2e;
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-weight: 600;
}
.NTUADescription {
  display: flex;
  flex-direction: row; /* Aligns the image and text side by side */
  gap: 0.7rem; /* Adds space between the image and text */
  align-items: stretch;
  width: 100%; /* Ensures the container spans its parent */
  height: 20rem;
}
.NTUADescription ul {
  list-style: none; /* Removes default list styling */
  padding-left: 0; /* Removes default left padding */
}
.NTUALiContent {
  display: flex; /* Aligns bullet and text horizontally */
  align-items: flex-start; /* Ensures the bullet and text align at the top */
}
.NTUABullet {
  color: #2e4d2e;
  font-size: 1.2rem; /* Adjust circle size */
  margin-right: 0.5rem;
  flex-shrink: 0;
}
.NTUAtext {
  flex: 2; /* Allows the article content (text) to take up remaining space */
  justify-content: center; /* Vertically centers content */
  align-items: stretch;
  height: 100%;
}
.NTUAimage {
  flex: 1; /* Allows the article content (text) to take up remaining space */
  justify-content: center; /* Centers the image horizontally */
  align-items: center;
  height: 100%;
}
.treePhoto {
  max-width: 100%; /* Ensures the image scales responsively */
  max-height: 100%;
  object-fit: contain;
}

.NTUAtext ul li {
  margin-bottom: 1rem; /* Adds spacing between items */
  font-size: 1.2rem;
  line-height: 1.5;
  list-style: none; /* Removes the default bullet */
}
.windPart:nth-child(odd) {
  padding: 1rem;
  margin-bottom: 2rem;
  transition: box-shadow 0.3s ease;
}
.windLine::before {
  content: "";
  display: block;
  width: 25%; /* Width of the line */
  height: 1px; /* Thickness of the line */
  background: rgba(28, 61, 90, 0.8); /* Color of the line */
}
.windPart:nth-child(even) {
  background-color: rgba(46, 77, 46, 0.05); /* Subtle green with low opacity */
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}
