.footerBackground {
  position: sticky;
  /* padding: 1rem; */
  /* background-image: var(--background-image); */
  /*  background-color: #1c3d5a; */
  background-color: #585858; /*   #a8a8a8;  #4b4b4b;  #708090; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  color: /* #f5f5f5; */ white;
  padding: 1.5rem;
  /*  border-top: 3px solid rgba(255, 255, 255, 0.2); */
  width: 100%; /* Ensures the footer spans the viewport */
  box-sizing: border-box;
}

.footerBackground::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1; /* Place it behind the footer content */
  pointer-events: none;
}
.footerLink {
  font-weight: bold; /* Bold font weight */
  padding: 1.5rem 2.5rem; /* Padding for a better click area */
  transition: all 0.3s ease; /* Smooth transition */
  text-decoration: none;
  align-self: flex-start;
}
.footerLink:hover {
  transform: scale(1.05); /* Slightly enlarge on hover for effect */
  transition: background-color 0.3s ease;
  /*  background-color: rgba(255, 255, 255, 0.1); */
}
.footerImages {
  display: flex; /* Use flexbox to arrange the images */
  justify-content: flex-end;
  align-self: flex-end; /* Center images vertically */
  gap: 3rem; /* Space between the images */
  height: auto;
  padding: 0 1.9rem; /* 20px for top and bottom, 30px for left and right */
  max-width: 100%; /* Prevents the container from exceeding the viewport */
  overflow: hidden; /* Ensures any accidental overflow is clipped */
  box-sizing: border-box; /* Ensures padding is included in width calculations */
}
.footerImage {
  max-width: 100%;
  max-height: 3.7rem;
  height: auto; /* Maintains aspect ratio */
  flex-shrink: 1; /* Ensures images shrink if needed */
  border-radius: 8px;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.4);
  background-color: white;
}
.contactLink {
  text-decoration: none;
}
.contactLink:hover {
  text-decoration: underline;
}
/* Mobile-specific styles */
@media (max-width: 48rem) {
  .footerBackground {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center-align content */
    padding: 0; /* Adjust padding for better spacing */
  }

  .footerLink {
    margin-bottom: 1rem; /* Add spacing below the contact span */
    text-align: center; /* Center-align text */
  }

  .footerImages {
    justify-content: center; /* Center images horizontally */
    /* Keep images in a single row if they fit */
    justify-content: space-between;
  }

  .footerImage {
    max-width: 50%; /* Make images smaller to fit better */
    /* Add spacing between images */
  }
}
