.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #556b2f;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  z-index: 20;
  width: 100%;
  line-height: 1.5rem;
  height: auto;
  flex-wrap: nowrap;
  padding-right: 0.6rem;
}
.navbar a:hover {
  text-decoration: wavy;
  transform: scale(1.05); /* Slightly enlarge on hover for effect */
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
}

.logoSection {
  cursor: default;
  margin: 0;
}
.logoSection img {
  cursor: pointer; /* Pointer cursor on hover over the image */
}
@media (min-width: 1440px) {
  .logoSection {
    margin-right: 6rem; /* Large margin for big desktops */
    margin-left: 1rem;
  }
  .navbarLinks {
    display: flex; /* Ensure this is flex to apply gap */
    flex-direction: row; /* Align links horizontally */
    gap: 4rem;
    margin: 0 0.5rem; /* Adds rem margin to the left and right of the navbar */
  }
}

.navbarLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Align all items to the top */
  gap: 0.4rem;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .navbarLinks {
    flex-direction: column; /* Stack vertically on small screens */
    align-items: flex-start; /* Adjust alignment */
    position: relative; /* Ensure that links stay within their container */
    padding-top: 4rem;
    padding: 0.5rem;
  }
  .navbar {
    flex-direction: row;
    padding: 0.5rem; /* Adjust padding for mobile */
    justify-content: space-between;
    position: fixed;
  }
  .logoSection {
    /*  position: absolute; this gives error  */ /* Keep the logo at the top left */
    top: 0;
    left: 0;
    z-index: 21;
    width: auto; /* Avoid it growing too large */
    padding: 1rem 0;
  }
  .hamburger-container {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem; /* Position it at the top-right */
    font-size: 1.5rem;
    color: white;
    z-index: 22;
  }
}
.navLink {
  text-decoration: none;
  margin-top: 0;
  font-weight: bold;
  padding: 0 0 0.125rem 0; /* Converted 2px to 0.125rem */
  border-radius: 0.25rem;
  transition: color 0.3s ease, transform 0.2s ease;
  display: flex;
  text-align: start;
  z-index: 20;
  color: #ffffff;
  font-size: 1rem;
  display: block;
  white-space: nowrap;
  /* Prevent shrinking */
  flex-shrink: 0;
}

.navLink:active {
  outline: 0.125rem solid #2e4d2e;
  outline-offset: 0.125rem;
  transform: scale(0.98);
}

.tooltipBox {
  position: fixed;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  color: #556b2f;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 0.25rem;
  max-width: 250px;
  font-size: 0.9rem;
  z-index: 20;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
