.projectOutlineContainer {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
.projectDescription {
  font-size: 1.2rem;
  text-align: start;
  color: /* "#1c3d5a"; */ #2e4d2e;
  line-height: 1.8;
}
.projectDescription::before,
.projectDescription::after {
  content: "";
  display: block;
  height: 3px;
  background: /* rgba(28, 61, 90, 0.8); */ #1c3d5a; /* Dark blue color for the lines */
  position: absolute;
  top: 5rem; /* Adjust the vertical position of the lines */
  width: 20%; /* The width of the lines */
}

.projectDescription::before {
  left: 5rem; /* Starts the line from the left */
}

.projectDescription::after {
  right: 5rem; /* Starts the line from the right */
}
.workPackage {
  margin-bottom: 30px;
}

.workPackageTitle {
  font-size: 1.4rem;
  text-align: center;
  /* color: #1c3d5a; */
  color: #2e4d2e;
  margin-bottom: 15px;
  font-weight: 600;
}

.workPackageDetails {
  list-style-type: none;
  padding-left: 0;
}

.workPackageDetails li {
  margin-bottom: 8px;
  font-size: 1.1rem;
  line-height: 1.6;
  display: flex; /* Makes the list items behave like flex containers */
  align-items: center;
}
.workPackageDetails li::before {
  content: "○ "; /* Small open circle */
  color: #2e4d2e;
  font-size: 0.9rem; /* Adjust to be less prominent */
  margin-right: 5px;
  flex-shrink: 0;
}
.workPackage:nth-child(odd) {
  background-color: rgba(46, 77, 46, 0.05); /* Subtle green with low opacity */
  padding: 15px; /* Optional: add some padding */
  border-radius: 5px; /* Optional: rounded corners for a softer look */
}
.arrowLink {
  margin-left: 0.5rem; /* Space between title and icon */
  color: #2e4d2e; /* Matches theme color */
  font-size: 1rem; /* Adjust arrow size */
  display: inline-flex; /* Aligns icon with text */
  align-items: center;
  cursor: pointer; /* Indicates interactivity */
  transition: color 0.2s ease, transform 0.2s ease; /* Smooth hover effect */
  justify-content: end;
}

.arrowLink:hover {
  color: #1a331a; /* Darker shade on hover */
  transform: translateX(4px); /* Subtle motion effect on hover */
}
