.projectOutlineContainer {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
.projectDescription {
  font-size: 1.1rem;
  text-align: start;
  color: "#1c3d5a";
  line-height: 1.8;
}
.projectDescription::before {
  content: "";
  display: block;
  width: 20%; /* Width of the line */
  height: 2px; /* Thickness of the line */
  background: rgba(28, 61, 90, 0.8); /* Color of the line */
  margin: 0.5rem 0 1rem 0; /* Add top gap, no margins for other sides */
}
.workPackage {
  margin-bottom: 30px;
}

.workPackageTitle {
  font-size: 1.4rem;
  text-align: center;
  /* color: #1c3d5a; */
  color: #2e4d2e;
  margin-bottom: 15px;
  font-weight: 600;
}

.workPackageDetails {
  list-style-type: none;
  padding-left: 0;
}

.workPackageDetails li {
  margin-bottom: 8px;
  font-size: 1.1rem;
  line-height: 1.6;
  display: flex; /* Makes the list items behave like flex containers */
  align-items: center;
}
.workPackageDetails li::before {
  content: "○ "; /* Small open circle */
  color: #2e4d2e;
  font-size: 0.9rem; /* Adjust to be less prominent */
  margin-right: 5px;
  flex-shrink: 0;
}
.workPackage:nth-child(odd) {
  background-color: rgba(46, 77, 46, 0.05); /* Subtle green with low opacity */
  padding: 15px; /* Optional: add some padding */
  border-radius: 5px; /* Optional: rounded corners for a softer look */
}
