.projectOutlineContainer {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  line-height: 1.5rem;
}
.projectDescription {
  text-align: start;
  line-height: 1.6rem;
}
.projectLine::before {
  content: "";
  display: block;
  width: 25%; /* Width of the line */
  height: 1px; /* Thickness of the line */
  background: rgba(28, 61, 90, 0.8); /* Color of the line */
}
.projectDescription::before {
  left: 5rem; /* Starts the line from the left */
}

.projectDescription::after {
  right: 5rem; /* Starts the line from the right */
}
.workPackage {
  margin-bottom: 2rem;
}

.workPackageTitle {
  text-align: center;
  /* color: #1c3d5a; */
  color: #2e4d2e;
  margin-bottom: 1rem;
  font-weight: 600;
}

.workPackageDetails {
  list-style-type: none;
  padding-left: 0;
}

.workPackageDetails li {
  margin-bottom: 8px;

  line-height: 1.6;
  display: flex; /* Makes the list items behave like flex containers */
  align-items: center;
}
.workPackageDetails li::before {
  content: "○ "; /* Small open circle */
  color: #2e4d2e;
  font-size: 0.9rem; /* Adjust to be less prominent */
  margin-right: 5px;
  flex-shrink: 0;
}
.workPackage:nth-child(odd) {
  background-color: rgba(46, 77, 46, 0.05); /* Subtle green with low opacity */
  padding: 1rem; /* Optional: add some padding */
  border-radius: 5px; /* Optional: rounded corners for a softer look */
}
.arrowLink {
  margin-left: 0.5rem; /* Space between title and icon */
  color: #2e4d2e; /* Matches theme color */
  font-size: 1rem; /* Adjust arrow size */
  display: inline-flex; /* Aligns icon with text */
  align-items: center;
  cursor: pointer; /* Indicates interactivity */
  transition: color 0.2s ease, transform 0.2s ease; /* Smooth hover effect */
  justify-content: flex-end;
}

.arrowLink:hover {
  color: #1a331a; /* Darker shade on hover */
  transform: translateX(4px); /* Subtle motion effect on hover */
}
