.partner {
  margin-bottom: 1rem;
}
.partnerLogo {
  display: inline-block;
  margin-right: 0.75rem;
  margin-bottom: 0.5rem;
  object-fit: contain;
}
.partnerLine::before {
  content: "";
  display: block;
  width: 25%; /* Width of the line */
  height: 1px; /* Thickness of the line */
  background: rgba(28, 61, 90, 0.8); /* Color of the line */
}
.partnerDescription {
  margin-bottom: 0rem;
  margin-top: 0px;
  line-height: 1.6rem;
}
.partnerDescription span {
  line-height: 2rem;
}
.partnerList {
  /* padding-left: 20px; */
  list-style-type: disc;
}
.partnerList li {
  margin-bottom: 8px;
}
.orcidLink {
  text-decoration: none;
  color: #2e4d2e; /*  #556b2f;  */
}
.orcidLink:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .partnerLogo1,
  .partnerLogo2 {
    float: none; /* Remove float on smaller screens */
    width: 10rem; /* Adjust logo width */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto 1rem; /* Center logo and add margin */
    display: block; /* Make logo a block element */
  }
}
