.partner {
  margin-bottom: 4rem;
}
.partnerLogo {
  float: left; /* Floats the image to the left to allow text to wrap around it */
  width: 15rem;
  height: auto;
  vertical-align: middle; /* Ensures the logo aligns vertically with the text */
  margin-right: 1rem; /* Adjust space between image and text */
}

.partnerLine::before {
  content: "";
  display: block;
  width: 25%; /* Width of the line */
  height: 1px; /* Thickness of the line */
  background: rgba(28, 61, 90, 0.8); /* Color of the line */
}
.partnerDescription {
  margin-bottom: 15px;
  margin-top: 0px;
  line-height: 1.8;
}
.partnerDescription span {
  line-height: 2.1;
}
.partnerList {
  /* padding-left: 20px; */
  list-style-type: disc;
}
.partnerList li {
  margin-bottom: 8px;
}
