.td {
  font-family: inherit; /* Uses the font-family of the parent (body) */
  font-size: 1rem; /* Matches body font size */
  color: var(--foreground); /* Matches the general text color */
}
.deliverablesLine::after {
  content: "";
  display: block;
  width: 25%; /* Width of the line */
  height: 1px; /* Thickness of the line */
  background: rgba(28, 61, 90, 0.8); /* Color of the line */
}
